@model IEnumerable<MingleBoxProject.Models.tblForum>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/main.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fans)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.companyid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fans)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.companyid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.forumid }) |
            @Html.ActionLink("Details", "Details", new { id=item.forumid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.forumid })
        </td>
    </tr>
}

</table>
