@model IEnumerable<MingleBoxProject.Models.tbExamCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/main.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.examcatname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.examcatname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.examcatid }) |
            @Html.ActionLink("Details", "Details", new { id=item.examcatid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.examcatid })
        </td>
    </tr>
}

</table>
