@model IEnumerable<MingleBoxProject.Models.tblProjectCate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/main.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.procatname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblTech.techname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.procatname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblTech.techname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.procatid }) |
            @Html.ActionLink("Details", "Details", new { id=item.procatid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.procatid })
        </td>
    </tr>
}

</table>
