@model MingleBoxProject.Models.tblEmployement

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/main.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblEmployement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.empdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empstatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.empid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
